@import "../../index.scss";

.main {
  text-align: center;
}

h3 {
  opacity: 0.8;
}

.save-btn {
  color: $text-color-light !important;
  background-color: #2d2757 !important;
}

.form-text {
  color: $text-color-light !important;
  opacity: 0.5;
}

.form-update {
  text-align: left ;
}

.form-label {
  font-size: 20px;
}