@import "../../index.scss";


.submit-btn {
  color: $text-color-light !important;
  background-color: #2d2757 !important;
}

.form-text {
  color: $text-color-light !important;
  opacity: 0.5;
}

.form-label {
  font-size: 20px;
}