// Body background
$body-bg: #483d8b;

// Buttons
$primary: #483d8b;
$secondary: #C4C4D9;
$tertiary: #e6e6fa;

// Colors
$white: #f9f9f9;
$black: #181818;

// Input form background
$input-bg: white;

// Text 
$text-color-light: #f9f9f9;
$text-color-dark: #181818;
$normal: 400;
$bold: 500;
$bolder: 800;


@import "~bootstrap/scss/bootstrap.scss";

body {
  text-align: left;
  color: $text-color-light;
}

.navbar {
  background-color: $tertiary;
  .custom-navbar-collapse {
    background-color: $tertiary;
    width: 100%;
  }
  .nav-link {
    color: $text-color-dark;
    opacity: 0.8;
    &:hover, &:focus {
      color: #000000;
      font-weight: $bold;
    }
  }
}
.custom-navbar-collapse .nav-link  {
  background-color: $tertiary !important;
}

.welcome-message {
  text-align: center;
  margin: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  .h1 {
    font-weight: $bolder;
  }
}

.form-control {
  background-color: $tertiary;
  border: none;
  font-size: 1rem;
  height: 2rem;
  width: 100%;
  padding: 0 15px;
  margin-left: 5px;
  box-shadow: 0px 0px 3px #ddd;
}

.form-control:focus {
  border: none;
  outline: none;
  background-color: $tertiary;
}

#search-icon {
  color: royalblue;
}

.card {
	background-color: $tertiary;
  color: $text-color-dark;
  text-align: left;
  border: none;
  box-shadow: 10px 10px 5px  rgba($black, 0.55);
  .fav-movie-btn {
    padding: 5px 8px;
  }
  .open-btn {
    width: 100%; 
    text-align: center; 
    padding: 6px auto;
    box-shadow: 2px 2px 5px  rgba($black, 0.55);
  };
}

.btn-isFav {
  background-color: #9999B8;
  color: $text-color-dark;
  border: none;
  box-shadow: 1px 1px 3px  rgba($black, 0.25);
  &:hover, &:focus {
    background-color: #7F7FB0;
    color: $text-color-dark;
  }
}

.btn-notFav {
  background-color: #ecb829;
  color: $text-color-dark;
  border: none;
  box-shadow: 1px 1px 3px  rgba($black, 0.25);
  &:hover, &:focus {
    background-color: #d7a825;
    color: $text-color-dark;
  }
}
